.container {
    margin: 4%;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 21%;
}

.search {
    display: grid;
    margin-top: 1%;
    margin-bottom: 3%;
    position: relative;
}

#search {
    background-color: #E7E7E7;
    border-radius: 0.3em;
    height: 220%;
    border-style: none;
    padding-left: 1%;
}

.search .fa-search:before {
    position: absolute;
    right: 3%;
    top: 63%;
}

.ingredients {
    background-color: #3282F7;
}

.appliance {
    background-color: #68D9A4;
}

.ustensils {
    background-color: #ED6454;
}

.filters {
    margin-left: 5%;
}

.scrollable {
    overflow-y: auto;
    max-height: 41em;
}

.divPTime {
    font-size: 90%;
}