.container {
    margin: 4%;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 21%;
}

.search {
    display: grid;
    margin-top: 1%;
    margin-bottom: 3%;
    position: relative;
}

#search {
    background-color: #E7E7E7;
    border-radius: 0.3em;
    height: 220%;
    border-style: none;
    padding-left: 1%;
}

.search .fa-search:before {
    position: absolute;
    right: 3%;
    top: 63%;
    font-size: 130%;
}

.ingredients, #ingredients {
    background-color: #3282F7;
    border-color: #3282F7;
    color: #FFFFFF;
}

.appliance, #appliance {
    background-color: #68D9A4;
    border-color: #68D9A4;
    color: #FFFFFF;
}

.ustensils, #ustensils {
    background-color: #ED6454;
    border-color: #ED6454;
    color: #FFFFFF;
}

#ingredients, #appliance, #ustensils {
    width: 100%;
}

.filters {
    margin-left: 5%;
}

.scrollable {
    overflow-y: auto;
    max-height: 41em;
}

.divPTime {
    font-size: 90%;
}

.m-0 {
    color: black;
    font-size: 110%;
}

.col-2.rounded-2.ingredients.d-flex.align-items-baseline,
.col-2.rounded-2.appliance.d-flex.align-items-baseline,
.col-2.rounded-2.ustensils.d-flex.align-items-baseline {
    box-sizing: content-box;
}